DISCORD_TOKEN=your_discord_bot_token
CLIENT_ID=your_bot_client_id
GUILD_ID=optional_guild_id_for_dev
OPENAI_API_KEY=your_openai_api_key
PROGRESS_POINTS=10
QUIZ_TIME_SECONDS=30
CRON_MORNING=0 8 * * *
CRON_QUIZ=0 12 * * *
CRON_EVENING=0 18 * * *
CRON_NIGHT=0 22 * * *
